ErrorDocument 404 /404.php

RewriteEngine On
RewriteCond %{SERVER_PORT} 21
RewriteCond %{REQUEST_URI} !
RewriteRule ^(.*)$ https://www.qwanturank.life/ [R=301,L]

RewriteCond %{HTTP_HOST} !^qwanturank.life$ [NC]
RewriteRule .? https://qwanturank.life%{REQUEST_URI} [R=301,L]
