nav li{
    background-color: #80cde9;
}

main{
    width: 60%;
    margin: 0 auto;
}

h3{
    color: #a10ed0;
}

.news{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.news article{
    background-color: #B3CD98;
    padding: 1em;
}

.news h3{
    color: black;
}

h4{
    color: #e83c4a;
}

.example{
    color: #649eef;
}

.black-white, .history{
    display: flex;
    flex-direction: row;
}

.history{
    align-items: center;
}

.history img{
    width: 50%;
    height: 50%;
}

.black-white-text{
    margin: 1em;
}

.black-white img{
    height: 250px;
    width: 250px;
}

footer{
    margin-top: 5em;
}

/** 
** Responsive
**/


  @media screen and (max-width: 768px){
      main{
          width: 80%;
      }
      .news, .black-white, .history{
        flex-direction: column;
    }

}

@media screen and (max-width: 460px){
    main{
        width: 90%;
    }
}